.message-input {
    width: 100%;
    display: flex;
    flex-direction: row;

    .input-field {
        width: 93%;

        .css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root {
            border-radius: 12px;
        }
    }

    .send-button {
        width: 7%;
        height: 50px;
        margin-left: 15px;
        cursor: pointer;
    }
}