
body {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
}

.App {
    background-color: #414A4C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Poppins;
}