.login {
    &-container {
        background-image: linear-gradient(#FF928B,#FFAC81);
        min-width: 280px;
        width: 35%;
        border-radius: 36px;
        white-space: nowrap;
    
        @media (max-width: 768px) {
            width: 60%;
        }
    
        @media (max-width: 425px) {
            width: 90%;
        }
    }
    
    &-card {
        display: flex;
        flex-direction: column;
        gap:30px;
        padding: 5%;
        text-align: center;

        h1 {
            cursor: pointer;
        }
    
        .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
            border-radius: 18px;
    
            &:focus {
                border: 3px solid black;
            }
        }
    
        label {
            font-size: 20px;
        }
    
        input {
            font-size: 20px;
        }
    
        button {
            font-size: 20px;
            color: black;
            width: 25%;
            margin: auto;

            @media (max-width:425px) {
                width: 40%;
            }
        }
    }
    }